/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

a:hover {
  text-decoration: none;
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/*Placeholders*/
/*Truncate*/
/*--------------------------------
	Responsive ratio
	Used for creating scalable elements that maintain the same ratio
	example: .element { @include responsive-ratio(400, 300); }
*/
/*
.container-custom {width: 100%;;max-width: none;padding-right: 8px;padding-left: 8px;margin-right: auto;margin-left: auto;}
@media (min-width: 576px) {
  .container-custom {max-width: 540px;}
}

@media (min-width: 768px) {
  .container-custom {max-width: 720px;}
}

@media (min-width: 992px) {
  .container-custom {max-width: 960px;}
}

@media (min-width: 1200px) {
  .container-custom {max-width: 1140px;}
}
.container-fluid-custom {width: 100%;padding-right: 8px;padding-left: 8px;margin-right: auto;margin-left: auto;}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-right: 8px;
  padding-left: 8px;
}
.row {margin-left: -8px;margin-right: -8px}
html, body {height: 100%;}*/
a {
  color: #262626;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #F7A23B;
}

a.color_blue:hover, a.color_link:hover {
  color: #F7A23B;
}

a.color_orange:hover {
  color: #262626;
}

img {
  max-width: 100%;
}

hr {
  border-top: solid 1px #F5F5F5;
  border-bottom: none;
  margin: 10px 0;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.white_space_nowarp {
  white-space: nowrap;
}

.text_center {
  text-align: center !important;
}

.text_left {
  text-align: left !important;
}

.text_right {
  text-align: right !important;
}

.color_red {
  color: #F44336 !important;
}

.color_orange {
  color: #F7A23B !important;
}

.color_orange_secondary {
  color: #F7A23B !important;
}

.color_orange_third {
  color: #F7A23B !important;
}

.color_blue {
  color: #0377AE !important;
}

.color_link {
  color: #0377AE !important;
}

.color_gray {
  color: #808285 !important;
}

.color_green {
  color: #7EC362 !important;
}

.color_heart {
  color: #ec1e3c !important;
}

.color_black_01 {
  color: rgba(0, 0, 0, 0.1) !important;
}

.color_black_015 {
  color: rgba(0, 0, 0, 0.15) !important;
}

.color_black_03 {
  color: rgba(0, 0, 0, 0.3) !important;
}

.color_black_06 {
  color: rgba(0, 0, 0, 0.6) !important;
}

.color-rakuten {
  color: #bf2528 !important;
}

.color_purple {
  color: #3F51B5 !important;
}

.fw_light {
  font-weight: 300 !important;
}

.fw_regular {
  font-weight: 400 !important;
}

.fw_normal {
  font-weight: 400 !important;
}

.fw_medium {
  font-weight: 500 !important;
}

.fw_bold {
  font-weight: 700 !important;
}

.font_size_0 {
  font-size: 0 !important;
}

.font_size_xs,
.font_size_12 {
  font-size: 12px !important;
}

.font_size_s,
.font_size_14 {
  font-size: 14px !important;
}

.font_size_m,
.font_size_16 {
  font-size: 16px !important;
}

.font_size_b,
.font_size_18 {
  font-size: 20px !important;
}

.font_size_bb,
.font_size_20 {
  font-size: 36px !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.count_box {
  display: flex;
  text-align: center;
}

.count_box a {
  background: #E6E6E6;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  color: #262626;
}

.count_box a:hover {
  color: #F7A23B;
}

.count_box .count_input {
  border: solid 1px #E6E6E6;
  width: 50px;
  text-align: center;
}

.tab_nav_lst {
  background: white;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
}

.tab_nav_lst .tab_item {
  cursor: pointer;
  text-align: center;
  border-bottom: solid 2px transparent;
  display: block;
  padding: 8px;
  flex: 1;
}

.tab_nav_lst .tab_item:hover, .tab_nav_lst .tab_item.active {
  border-bottom-color: #F7A23B;
}

.tab_content {
  width: 100%;
  position: relative;
}

.tab_content_item {
  display: none;
}

.tab_content_item.active {
  display: block;
}

.count_box {
  display: flex;
}

.count_box button {
  background: #E6F7FF;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: none;
  text-align: center;
}

.count_box button:focus {
  outline: none;
}

.count_box button:hover {
  background: #F7A23B;
  color: white;
  cursor: pointer;
}

.count_box .count_box_input {
  width: 50px;
  font-size: 14px;
  text-align: center;
}

.notes_blue {
  color: #3F51B5;
  font-style: italic;
}

.notes_orange {
  color: #F7A23B;
  font-style: italic;
}

/*
.slick_custom {display: none;
  &.slick-initialized {display: block}
  .slick-slider {margin: 0;padding: 0 0 30px}
  .slick-dotted.slick-slider {margin: 0}
  .slick-dots {bottom: 0;font-size: 0;
    li {width: auto;height: auto;
      button {background: $color-gray;width: 10px;height: 10px;
        @include border-radius(10px);
        @include transition(all .3s ease);
        &::before {font-size: 0;height: 100%}
        &:hover {background: $color-orange-secondary}
      }
      &.slick-active {
        button {width: 20px;background: $color-orange-secondary;}
      }
    }
  }
}
*/
.scroll_mobile_h {
  display: flex !important;
  /* [1] */
  flex-wrap: nowrap !important;
  /* [1] */
  overflow-x: auto !important;
  /* [1] */
  -webkit-overflow-scrolling: touch;
  /* [4] */
  -ms-overflow-style: none;
  /* [5] */
  overflow: -moz-scrollbars-none;
}

.fix_top {
  position: sticky;
  top: 0;
  z-index: 1;
}

.form_common {
  display: block;
  width: 100%;
}

.form_common .form_row {
  margin-bottom: 20px;
}

.form_common .form_row.form_error .form_error_text {
  color: #F44336;
  font-size: 10px;
  font-style: italic;
}

.form_common .form_field__group {
  position: relative;
}

.form_common .form_field__group > input {
  padding-right: 32px;
}

.form_common .form_field__group .form_field__icon {
  display: inline-block;
  padding: 8px;
  font-size: 0;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 32px;
  color: #D9D9D9;
}

.form_common .form_field__group .form_field__icon svg {
  width: 100%;
  height: 100%;
}

.form_common .form_label {
  margin-bottom: 8px;
  display: inline-block;
}

.form_common .form_label .require {
  color: #F44336;
}

.form_common .form_textarea {
  resize: none;
  border: solid 1px #D9D9D9;
  padding: 5px 10px;
  box-shadow: none;
  color: #808080;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.form_break_text {
  padding: 5px 0;
  position: relative;
  text-align: center;
  margin: 0 0 15px;
}

.form_break_text::before {
  content: '';
  background: #D9D9D9;
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.form_break_text span {
  background: white;
  font-size: 12px;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
  color: #8C8C8C;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  outline: none;
}

textarea {
  width: 100%;
}

input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

.option_style {
  font-size: 0;
  margin: 0 8px 0 0;
  display: inline-block;
}

.option_style .option_style_label {
  background: white;
  color: #808080;
  display: block;
  text-align: center;
  outline: none;
  padding: 5px 15px;
  overflow: hidden;
  border: solid 1px #808080;
  cursor: pointer;
  font-size: 12px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.option_style:last-child {
  margin: 0;
}

.option_style .option_style_input {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.option_style .option_style_input:checked + .option_style_label {
  border-color: #F7A23B;
  color: #F7A23B;
}

.option_style .option_style_input:focus + .option_style_label {
  border-color: #F7A23B;
  color: #F7A23B;
}

.option_style .option_style_input:active + .option_style_label {
  border-color: #F7A23B;
  color: #F7A23B;
}

.checkbox_style {
  cursor: pointer;
  font-size: 12px;
}

.checkbox_style input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox_style input:checked {
  border: none;
}

.checkbox_style input:checked + span {
  background: #F7A23B;
}

.checkbox_style input:checked + span svg {
  display: block;
}

.checkbox_style span {
  background: white;
  display: inline-block;
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin: 0 5px 0 0;
  text-align: center;
  padding: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.checkbox_style span svg {
  width: 100%;
  height: 100%;
  color: white;
  display: none;
}

.checkbox_style span, .checkbox_style input {
  width: 20px;
  height: 20px;
  vertical-align: -6px;
}

.checkbox_style.small span,
.checkbox_style.small input {
  width: 20px;
  height: 20px;
  vertical-align: -6px;
}

.checkbox_style.medium span,
.checkbox_style.medium input {
  width: 24px;
  height: 24px;
  vertical-align: -8px;
}

.checkbox_style.right span {
  margin: 0 0 0 5px;
}

.select_wrap {
  border: solid 1px #D9D9D9;
  position: relative;
  overflow: hidden;
  height: 32px;
  color: #808080;
}

.select_wrap svg {
  width: 15px;
  height: 8px;
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.select_wrap:hover {
  border-color: #F7A23B;
}

.select_wrap:hover::after {
  border-top-color: #F7A23B;
}

.select_wrap select.select_common {
  background: white;
  display: block;
  border: none;
  padding: 0 25px 0 10px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: #808080;
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /*Removes default style Firefox*/
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.select_wrap select.select_common:focus {
  cursor: pointer;
  outline: none;
}

.select_wrap.medium {
  height: 34px;
  font-size: 16px;
}

.fieldset_common {
  border: none;
  margin: 0;
  padding: 0;
}

.input_common {
  background: white;
  font-weight: 300;
  min-height: 32px;
  border: solid 1px #D9D9D9;
  outline: none;
  padding: 5px 10px;
  box-shadow: none;
  color: #808080;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input_common:focus {
  box-shadow: none;
  border-color: #F7A23B;
}

.input_common:focus::placeholder {
  color: #8C8C8C;
}

.input_common::placeholder {
  color: #8C8C8C;
}

.input_common.input_common--full {
  display: block;
  width: 100%;
}

.button_primary {
  background: #F7A23B;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  text-align: center;
  outline: none;
  padding: 0 10px;
  overflow: hidden;
  border: solid 1px #F7A23B;
  cursor: pointer;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button_primary.button_regular {
  font-size: 16px;
  min-height: 40px;
  line-height: 40px;
}

.button_primary.button_regular[class*="button_icon_"] svg {
  width: 24px;
  height: 24px;
  vertical-align: -7px;
}

.button_primary.button_large {
  font-size: 16px;
  min-height: 40px;
  line-height: 40px;
}

.button_primary.button_large[class*="button_icon_"] svg {
  width: 16px;
  height: 16px;
  vertical-align: -3px;
}

.button_primary.button_full {
  display: block;
  width: 100%;
}

.button_primary.disabled, .button_primary:disabled {
  background: #E6E6E6 !important;
  color: #8C8C8C !important;
  border-color: #E6E6E6 !important;
  cursor: auto;
}

.button_primary:hover {
  background: #F7A23B;
  color: white;
}

.button_primary:focus, .button_primary.active, .button_primary:active {
  background: #F7A23B;
  color: white;
}

.button_primary[class*="button_icon_"] svg {
  width: 14px;
  height: 14px;
  vertical-align: -1px;
}

.button_primary.button_icon_left svg {
  margin: 0 5px 0 0;
}

.button_primary.button_icon_right svg {
  margin: 0 0 0 5px;
}

.button_secondary {
  display: inline-block;
  text-align: center;
  outline: none;
  padding: 0 10px;
  overflow: hidden;
  border: solid 1px #F7A23B;
  cursor: pointer;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: white;
  color: #F7A23B;
}

.button_secondary.button_regular {
  font-size: 16px;
  min-height: 40px;
  line-height: 40px;
}

.button_secondary.button_regular[class*="button_icon_"] svg {
  width: 24px;
  height: 24px;
  vertical-align: -7px;
}

.button_secondary.button_large {
  font-size: 16px;
  min-height: 40px;
  line-height: 40px;
}

.button_secondary.button_large[class*="button_icon_"] svg {
  width: 16px;
  height: 16px;
  vertical-align: -3px;
}

.button_secondary.button_full {
  display: block;
  width: 100%;
}

.button_secondary.disabled, .button_secondary:disabled {
  background: #E6E6E6 !important;
  color: #8C8C8C !important;
  border-color: #E6E6E6 !important;
  cursor: auto;
}

.button_secondary:hover {
  background: #F7A23B;
  color: white;
}

.button_secondary:focus, .button_secondary.active, .button_secondary:active {
  background: #F7A23B;
  color: white;
}

.button_secondary[class*="button_icon_"] svg {
  width: 14px;
  height: 14px;
  vertical-align: -1px;
}

.button_secondary.button_icon_left svg {
  margin: 0 5px 0 0;
}

.button_secondary.button_icon_right svg {
  margin: 0 0 0 5px;
}

.table_common {
  width: 100%;
  border-spacing: 0;
}

.table_common tbody td {
  padding: 8px;
}

.table_common.table_striped tr:nth-of-type(odd) td {
  background: #F9F9F9;
}

.login_container {
  height: 100vh;
  max-width: 860px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.login_row {
  background: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 8px 0 16px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 8px 0 16px rgba(0, 0, 0, 0.04);
  box-shadow: 8px 0 16px rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.login_col__right {
  flex: 1;
}

@media (min-width: 768px) {
  .login_row {
    flex-direction: row;
  }
  .login_col__left {
    width: 340px;
  }
}

.login_slide {
  overflow: hidden;
}

.login_slide .swiper-container {
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  visibility: hidden;
}

.login_slide .swiper-container.swiper-container-initialized {
  display: block;
  opacity: 1;
  visibility: visible;
}

.login_slide .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_slide .swiper-pagination .swiper-pagination-bullet {
  width: 24px;
  height: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.login_slide .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #F7A23B;
}

.login_section {
  padding: 15px 15px 0 15px;
}

@media (min-width: 768px) {
  .login_section {
    padding: 50px 50px 0 50px;
  }
}

.login_section__header {
  margin: 0 0 10px;
}

.login_section__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
}

.login_section__subheader {
  font-size: 12px;
}

.login_form {
  margin: 40px 0 0;
}

.login_btns {
  display: flex;
  flex-direction: column;
}

.login_btns a[class*="login_btn__"] {
  display: block;
  color: white;
  height: 32px;
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.login_btns a[class*="login_btn__"] svg {
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.login_btns a[class*="login_btn__"]:hover {
  opacity: .95;
}

.login_btns a[class*="login_btn__"] + a {
  margin-top: 15px;
}

.login_btns .login_btn__facebook {
  background: #D34836;
}

.login_btns .login_btn__facebook svg {
  width: 25px;
  height: 16px;
}

.login_btns .login_btn__google {
  background: #3B5998;
}

.login_btns .login_btn__google svg {
  width: 16px;
  height: 16px;
}

@media (min-width: 992px) {
  .login_btns {
    flex-direction: row;
    justify-content: space-between;
  }
  .login_btns a[class*="login_btn__"] {
    width: 45%;
    margin: 0 !important;
  }
}

.login_logo {
  margin-bottom: 50px;
  text-align: center;
}

.login_logo a {
  font-size: 0;
  display: inline-block;
  width: 130px;
}

.login_logo a svg {
  width: 100%;
  height: 100%;
}

.login_panel {
  padding: 50px;
}

.login_panel__group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_panel__item {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-width: 170px;
  min-height: 140px;
  margin: 0 12px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
}

.login_panel__icon {
  background: #F7A23B;
  margin: 0 auto 16px;
  color: white;
  width: 40px;
  height: 40px;
  display: block;
  padding: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.login_panel__icon svg {
  width: 100%;
  height: 100%;
}

.language_group {
  display: flex;
}

.language_item {
  display: flex;
}

.language_item + div {
  margin-left: 10px;
}

.signup_container {
  height: 100vh;
  max-width: 860px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.signup_row {
  background: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 8px 0 16px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 8px 0 16px rgba(0, 0, 0, 0.04);
  box-shadow: 8px 0 16px rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.signup_section {
  padding: 15px 15px 0 15px;
}

@media (min-width: 768px) {
  .signup_section {
    padding: 50px;
  }
}

.signup_form {
  margin: 40px 0 0;
}

.signup_form .form_break_text {
  padding: 5px 0;
  position: relative;
  text-align: center;
  margin: 0 0 15px;
}

.signup_form .form_break_text::before {
  content: '';
  background: #D9D9D9;
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.signup_form .form_break_text span {
  background: white;
  font-size: 12px;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
  color: #8C8C8C;
}

/*
.form_slide_unlock {
  .slideunlock-wrapper {background: transparent;padding: 0;width: 100%;}
  .slideunlock-slider {padding: 8px;border: solid 1px #91D5FF;
    @include linear-gradient-h(#E6F7FF,#91D5FF);
  }
  .slideunlock-label {color: white;display: flex;align-items: center;justify-content: center;min-width: 80px;
    @include border-radius(0);
    @include linear-gradient-h(#1890FF,#91D5FF);
  }
  .slideunlock-lable-tip {color: #1890FF}
}
*/
.form_slide_unlock #slide_unlock {
  height: 32px;
  line-height: 32px;
  border: solid 1px #91D5FF;
  color: #1890FF;
  background-color: #91D5FF;
  background-image: -webkit-linear-gradient(left, #91D5FF, #E6F7FF);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: linear-gradient(to right, #91D5FF, #E6F7FF);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.form_slide_unlock #slide_unlock .drag {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80px;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  background-color: #1890FF;
  background-image: -webkit-linear-gradient(left, #1890FF, #91D5FF);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: linear-gradient(to right, #1890FF, #91D5FF);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  -webkit-box-shadow: 0 8px 16px rgba(24, 144, 255, 0.32);
  -moz-box-shadow: 0 8px 16px rgba(24, 144, 255, 0.32);
  box-shadow: 0 8px 16px rgba(24, 144, 255, 0.32);
}

.form_slide_unlock #slide_unlock .progressBar {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

body {
  background-color: #F5F5F5;
  font-family: "Roboto", sans-serif;
  color: #262626;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
