<div class="login_section">
    <div class="login_section__header">
        <h2 class="login_section__title">
            Đăng nhập tài khoản
        </h2>
    </div>
    <div class="login_section__subheader">
        <span>Thành viên mới?</span> <a href="#" class="color_orange">Đăng ký ngay!</a>
    </div>
    <form action="" class="form_common login_form">
        <div class="form_row">
            <label for="email" class="form_label">Email <span class="require">*</span></label>
            <div class="form_field">
                <input type="text" class="input_common input_common--full" placeholder="Ví dụ: abc@gmail.com"/>
            </div>
        </div>
        <div class="form_row">
            <label for="email" class="form_label">Mật khẩu <span class="require">*</span></label>
            <div class="form_field form_field__group">
                <input type="password" class="input_common input_common--full" placeholder="Nhập mật khẩu"/>
                <a href="javascript:void(0)" class="form_field__icon">
                    <svg><use xlink:href="/image/sprite.svg#eye"></use></svg>
                </a>
            </div>
        </div>
        <div class="form_row mb-5">
            <div class="row">
                <div class="col-6">
                    <label class="checkbox_style small" for="checkbox11">
                        <input type="checkbox" id="checkbox11"/>
                        <span>
                            <svg><use xlink:href="/image/sprite.svg#check"></use></svg>
                        </span>
                        Lưu tài khoản
                    </label>
                </div>
                <div class="col-6 text_right">
                    <a href="#" class="font_size_12 color_orange">Quên mật khẩu?</a>
                </div>
            </div>
        </div>
        <div class="form_row">
            <a href="#" class="button_primary button_full button_large">Đăng nhập</a>
        </div>
        <div class="form_break_text">
            <span>Hoặc đăng nhập bằng</span>
        </div>
        <div class="form_row">
            <div class="login_btns">
                <a href="" class="login_btn__google">
                    <svg><use xlink:href="/image/sprite.svg#google"></use></svg> Google
                </a>
                <a href="" class="login_btn__facebook">
                    <svg><use xlink:href="/image/sprite.svg#facebook"></use></svg> Facebook
                </a>
            </div>
        </div>
    </form>
</div>