<div class="login_slide">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for i in 0..5 %}
                <div class="swiper-slide">
                    <div class="login_slide__item">
                        <img src="https://via.placeholder.com/340x600" alt="" class="login_slide__img"/>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>