@mixin button_common {display: inline-block;text-align: center;outline: none;padding: 0 10px;overflow: hidden;border: solid 1px $color-orange-secondary;cursor: pointer;
  @include border-radius(2px);
  @include transition(all .3s ease);

  &.button_regular {font-size: $font-size-m;min-height: 40px;line-height: 40px;
    &[class*="button_icon_"] {
      svg {width: 24px;height: 24px;vertical-align: -7px}
    }
  }
  &.button_large {font-size: $font-size-m;min-height: 40px;line-height: 40px;
    &[class*="button_icon_"] {
      svg {width: 16px;height: 16px;vertical-align: -3px}
    }
  }
  &.button_full {display: block;width: 100%}

  &.disabled,
  &:disabled {background: $color-disable !important;color: $color-text-secondary !important;border-color: $color-disable !important;cursor: auto}

  &:hover {background: $color-orange-secondary;color: white}
  &:focus,
  &.active,
  &:active {background: $color-orange-third;color: white}
  &[class*="button_icon_"] {
    svg {width: 14px;height: 14px;vertical-align: -1px}
  }
  &.button_icon_left {
    svg {margin: 0 5px 0 0}
  }
  &.button_icon_right {
    svg {margin: 0 0 0 5px}
  }
}

.button_primary {background: $color-orange-secondary;color: $color-white-08;
  @include button_common;
}

.button_secondary {
  @include button_common;
  background: white;color: $color-orange;
}
