.blocker {z-index: 9999 !important;}
.modal_primary {background: white;padding: 0;width: 98%;vertical-align: top;
  @include border-radius(0);
  a.close-modal {}
  .modal_header {background: white;padding: 10px;}
  .modal_title {margin: 0;font-weight: $font-bold;font-size: $font-size-bb;}
  .modal_body {padding: 10px;min-height: 200px}
  .modal_content {font-size: $font-size-m;color: $color-black-06;padding: 10px}
  .modal_footer {padding: 10px}

  .modal_group__button {text-align: right;
    .modal_button {font-size: $font-size-s;text-transform: uppercase;display: inline-block;padding: 5px;margin-left: 10px;
      &:only-child {margin-left: 0}
      &.modal_button__cancel {color: $color-black-06}
      &.modal_button__apply {color: $color-orange-secondary}
      button {}
    }
  }
}
