.table_common {width: 100%;border-spacing: 0;
  thead {
    tr {}
    th {}
  }
  tbody {
    tr {}
    td {padding: 8px}
  }
  &.table_striped {
      tr:nth-of-type(odd) {
        td {background: $color-bg-fourthy}
      }
  }
}
