#page_login {}
.login_container {height: 100vh;max-width: 860px;margin: 0 auto;display: flex;align-items: center;}
.login_row {background: white;display: flex;flex-direction: column;width: 100%;overflow: hidden;
  @include box-shadow(8px,0,16px,$color-black-004);
  @include border-radius(16px);
}
div[class*="login_col__"]{}
.login_col__left {}
.login_col__right {flex: 1}

@media (min-width: $bp-md) {
  .login_row {flex-direction: row}
  .login_col__left {width: 340px}
}

//Login Slide
.login_slide {overflow: hidden;
  .swiper-container {width: 100%;height: 100%;display: none;opacity: 0;visibility: hidden;
    &.swiper-container-initialized {display: block;opacity: 1;visibility: visible}
  }
  .swiper-slide {text-align: center;display: flex;justify-content: center;align-items: center;}
  .swiper-pagination {
    .swiper-pagination-bullet {width: 24px;height: 4px;
      @include border-radius(4px);
      &.swiper-pagination-bullet-active {background: $color-orange}
    }
  }
}
.login_slide__item {}
.login_slide__img {}

//Login section
.login_section {padding: 15px 15px 0 15px;
  @media (min-width: $bp-md) {
    padding: 50px 50px 0 50px;
  }
}
.login_section__header {margin: 0 0 10px}
.login_section__title {margin: 0;font-weight: $font-medium;font-size: $font-size-b}
.login_section__subheader {font-size: $font-size-xs}

//Login Form
.login_form {margin: 40px 0 0;}
.login_btns {display: flex;flex-direction: column;
  a[class*="login_btn__"] {display: block;color: white;height: 32px;line-height: 32px;text-align: center;;
    @include border-radius(2px);
    svg {margin: 0 10px 0 0;vertical-align: middle}
    &:hover {opacity: .95}
    + a {margin-top: 15px}
  }
  .login_btn__facebook {background: #D34836;
    svg {width: 25px;height: 16px}
  }
  .login_btn__google {background: #3B5998;
    svg {width: 16px;height: 16px}
  }
}
@media (min-width: $bp-l) {
  .login_btns {flex-direction: row;justify-content: space-between;
    a[class*="login_btn__"] {width: 45%;margin: 0 !important;}
  }
}

.login_logo {margin-bottom: 50px;text-align: center;
  a {font-size: 0;display: inline-block;width: 130px;
    svg {width: 100%;height: 100%}
  }
}
.login_panel {padding: 50px}
.login_panel__group {display: flex;justify-content: center;align-items: center;}
.login_panel__item {display: flex;padding: 20px;align-items: center;justify-content: center;flex-direction: column;text-align: center;min-width: 170px;min-height: 140px;margin: 0 12px;
  @include border-radius(16px);
  @include box-shadow(0px,8px,16px,$color-black-004);
}
.login_panel__icon {background: $color-orange-secondary;margin: 0 auto 16px;color: white;width: 40px;height: 40px;display: block;padding: 5px;
  @include border-radius(50%);
  svg {width: 100%;height: 100%}
}

.language_group {display: flex}
.language_item {display: flex;
  + div {margin-left: 10px}
  svg {}
}