{% extends "../layout/layout.twig" %}
{% block pageTitle %} Ichiba | Sign up {% endblock %}
{% block page %}
    <div id="page_sign_up" class="page_main">
        <div class="main_body">
            <div class="container main_container">
                <div class="signup_container">
                    <div class="signup_row">
                        <div class="signup_section">
                            <div class="signup_section__header">
                                <h2 class="signup_section__title">
                                    Đăng ký tài khoản
                                </h2>
                            </div>
                            <div class="login_section__subheader">
                                <span>Đã có tài khoản?</span> <a href="#" class="color_orange">Đăng nhập ngay!</a>
                            </div>
                            <form action="" class="form_common signup_form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form_row">
                                            <label for="email" class="form_label">Email <span class="require">*</span></label>
                                            <div class="form_field">
                                                <input id="email" type="text" class="input_common input_common--full" placeholder="Ví dụ: abc@gmail.com"/>
                                            </div>
                                        </div>
                                        <div class="form_row">
                                            <label for="" class="form_label">Mã xác thực <span class="require">*</span></label>
                                            <div class="form_field">
                                                <div class="form_slide_unlock">
                                                    <div id="slide_unlock"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form_row">
                                            <label for="" class="form_label">Mã xác thực <span class="require">*</span></label>
                                            <div class="form_field">
                                                <input id="" type="text" class="input_common input_common--full" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="form_row">
                                            <label for="password" class="form_label">Mật khẩu <span class="require">*</span></label>
                                            <div class="form_field form_field__group">
                                                <input id="password" type="password" class="input_common input_common--full" placeholder="Nhập mật khẩu"/>
                                                <a href="javascript:void(0)" class="form_field__icon">
                                                    <svg><use xlink:href="/image/sprite.svg#eye"></use></svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="form_row">
                                            <label for="re-password" class="form_label">Xác nhận mật khẩu <span class="require">*</span></label>
                                            <div class="form_field form_field__group">
                                                <input id="re-password" type="password" class="input_common input_common--full" placeholder="Nhập mật khẩu"/>
                                                <a href="javascript:void(0)" class="form_field__icon">
                                                    <svg><use xlink:href="/image/sprite.svg#eye"></use></svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form_row">
                                                    <label for="birthday" class="form_label">Ngày sinh <span class="require">*</span></label>
                                                    <div class="form_field form_field__group">
                                                        <input id="birthday" type="text" class="input_common input_common--full" placeholder="Chọn ngày sinh"/>
                                                        <a href="javascript:void(0)" class="form_field__icon">
                                                            <svg><use xlink:href="/image/sprite.svg#calendar"></use></svg>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form_row">
                                                    <label for="gender" class="form_label">Giới tính <span class="require">*</span></label>
                                                    <div class="form_field">
                                                        <div class="select_wrap">
                                                            <select name="" id="" class="select_common">
                                                                <option value="ds">Male</option>
                                                                <option value="ds">Female</option>
                                                            </select>
                                                            <svg><use xlink:href="/image/sprite.svg#chevron-down"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form_row">
                                            <label for="fullname" class="form_label">Họ tên <span class="require">*</span></label>
                                            <div class="form_field">
                                                <input id="fullname" type="text" class="input_common input_common--full" placeholder="Ví dụ: abc@gmail.com"/>
                                            </div>
                                        </div>
                                        <div class="form_row">
                                            <label for="phone" class="form_label">Số điện thoại<span class="require">*</span></label>
                                            <div class="form_field">
                                                <input id="phone" type="text" class="input_common input_common--full" placeholder="Ví dụ: abc@gmail.com"/>
                                            </div>
                                        </div>
                                        <div class="form_row">
                                            <div class="mb-2">
                                                <label class="checkbox_style small" for="checkbox11">
                                                    <input type="checkbox" id="checkbox11"/>
                                                    <span>
                                                        <svg><use xlink:href="/image/sprite.svg#check"></use></svg>
                                                    </span>
                                                    Tôi muốn nhận các thông tin khuyến mãi từ iChiba
                                                </label>
                                            </div>
                                            <div class="">
                                                <label class="checkbox_style small" for="checkbox11">
                                                    <input type="checkbox" id="checkbox11"/>
                                                    <span>
                                                        <svg><use xlink:href="/image/sprite.svg#check"></use></svg>
                                                    </span>
                                                    Tôi đồng ý với <a href="#" class="color_orange">Chính sách bảo mật Lazada</a>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form_row">
                                            <a href="#" class="button_primary button_full button_large">Đăng ký</a>
                                        </div>
                                        <div class="form_break_text">
                                            <span>Hoặc đăng nhập bằng</span>
                                        </div>
                                        <div class="form_row">
                                            <div class="login_btns">
                                                <a href="" class="login_btn__google">
                                                    <svg><use xlink:href="/image/sprite.svg#google"></use></svg> Google
                                                </a>
                                                <a href="" class="login_btn__facebook">
                                                    <svg><use xlink:href="/image/sprite.svg#facebook"></use></svg> Facebook
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}